<!-- Light footer -->
<footer class="page-footer">

    <div class="footer-copyright">
        <div class="container">

            © {% if config %}{{ config.year }}
            <a class="a" href="{{ config.website }}">{{ config.name }}{% endif %}</a>. All
            rights reserved.

            <a class=" grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>

</footer>

<!-- scripts footer -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="/static/store/js/main.js"></script>