<!-- Light footer -->
<footer class="page-footer">

    <div class="footer-copyright">
        <div class="container">

            © {% if config %}{{ config.year }}
            <a class="a" href="{{ config.website }}">{{ config.name }}{% endif %}</a>. All
            rights reserved.

            <a class=" grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>

</footer>

<!-- scripts footer -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script>
console.log("static files OK")
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML =
        "<a target='_blank' href=https://www.google.com/maps/@" +
        position.coords.latitude +
        "," +
        position.coords.longitude +
        ",50m/data=!3m1!1e3>gMaps</a><br>"
}
$(window).on('load', function() {
        $('#exampleModal').modal('show');
});
</script>